{# Set Hostname#}
hostname {{ item.switch.hostname }}

{# Configure Interface#}
interface {{ item.switch.interface }}
 ip address {{ item.switch.interface_ip }} {{ item.switch.interface_mask }}
 description {{ item.switch.interface_description }}
